# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Kubernetes / secrets
kubeconfig
*.pem
*.key
.env

# Windows / editor
.DS_Store
Thumbs.db
.vscode/